.container {
  background-color: #fff;
  width: 50vw;
  max-width: 350px;
  margin: 50px auto;
  height: 80vh;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.container > h3 {
  text-align: center;
  margin: 80px auto 30px auto;
}

.circle {
  background-color: #ddd;
  width:30px;
  height:30px;
  border-radius: 50px;
}